h1{
	font-family: "黑体";
	font-size: 3em;
	
	color: #ffffff;

}
.xiaobiao{
	font-weight: bolder;
	font-size: 20px;
}
span{
	font-weight: bolder;
	font-size: 18px;
}
.biaoti{
	margin:0 auto; 
	width: 100px;
	height: 100px
}
.leftdiv{
	float: left;
	width: 200px;
	height: 700px;
	background-color: #65A5FA;
}
.rightdiv{
	margin-left: 250px; 
}
.ch{
	font-weight: bolder;
	font-size: 18px;
}
.inb{
	font-weight: normal;
	display: block;
}
